<div class="row"><!-- subscribe begin -->
  <div class="col-md-12 sidebar_general">
    <div class = "row">
      <div class = "col-md-12">
        <h3 class="sidebar_headline text-uppercase">Subscribe</h3>
      </div>
    </div>
    <div class = "row">
      {{ if (isset .Site.Params "podlove") }}
      <div class = "d-flex p-2 subscribe_buttons col-md-auto">
        <script>window.podcastData={'title':'{{ if (isset .Site.Params.podlove "subscribe_title") }}{{ .Site.Params.podlove.subscribe_title }}{{else}}{{ .Title }}{{end}}','subtitle':'{{ .Site.Params.podlove.subscribe_subtitle }}','description':'{{ if (isset .Site.Params.podlove "subscribe_description") }}{{ .Site.Params.podlove.subscribe_description }}{{else}}{{ .Site.Params.Description }}{{end}}','cover':'{{ .Site.Params.podlove.subscribe_cover }}','feeds':[{'type':'{{ .Site.Params.podlove.subscribe_feed_type }}','format':'{{ .Site.Params.podlove.subscribe_feed_format }}','url':'{{ .Site.Params.rss_subscribe }}','directory-url-itunes':'{{ .Site.Params.podlove.itunes_subscribe }}'}]}</script>
        <script class="podlove-subscribe-button" src="https://cdn.podlove.org/subscribe-button/javascripts/app.js" data-language="{{ .Site.Params.podlove.subscribe_language }}" data-size="{{ .Site.Params.podlove.subscribe_size }}" data-json-data="podcastData" data-color="{{ .Site.Params.podlove.subscribe_color }}" data-format="{{ .Site.Params.podlove.subscribe_format }}" data-style="{{ .Site.Params.podlove.subscribe_style }}"></script>
        <noscript><a href="{{ .Site.Params.rss_subscribe }}">Subscribe to feed</a></noscript>
      </div>
      {{ end }}
    </div>
    <div class="row">
      {{ if (isset .Site.Params "spotify_subscribe") }}
        <div class = "col-md-12 subscribe_buttons">
          <a class="btn btn-default" href="{{ .Site.Params.spotify_subscribe}}"><i class="fab fa-spotify"></i>&nbsp;Spotify</a>
        </div>
      {{ end }}
      {{ if (isset .Site.Params "itunes_subscribe") }}
        <div class = "col-md-12 subscribe_buttons">
          <a class="btn btn-default" href="{{ .Site.Params.itunes_subscribe}}"><i class="fab fa-itunes-note"></i>&nbsp;iTunes</a>
        </div>
      {{ end }}
      {{ if (isset .Site.Params "android_subscribe") }}
        <div class = "col-md-12 subscribe_buttons">
          <a class="btn btn-default subscribe_buttons" href="{{ .Site.Params.android_subscribe }}"><i class="fab fa-android"></i>&nbsp;Android</a>
        </div>
      {{ end }}
      {{ if (isset .Site.Params "google_play_subscribe") }}
        <div class = "col-md-12 subscribe_buttons">
          <a class="btn btn-default" href="{{ .Site.Params.google_play_subscribe }}"><i class="fab fa-google-play"></i>&nbsp;Google Play Music</a>
        </div>
      {{ end }}
      {{ with .Site.Params.stitcher_subscribe }}
        <div class = "col-md-12 subscribe_buttons">
          <a class="btn btn-default" href="{{ . }}"><i class="fa fa-podcast"></i>&nbsp;Stitcher</a>
        </div>
      {{ end }}
      {{ if (isset .Site.Params "soundcloud_subscribe") }}
        <div class = "col-md-12 subscribe_buttons">
          <a class="btn btn-default" href="{{ .Site.Params.soundcloud_subscribe }}"><i class="fab fa-soundcloud"></i>&nbsp;Soundcloud</a>
        </div>
      {{ end }}
      {{ if (isset .Site.Params "pocketcasts_subscribe") }}
        <div class = "col-md-12 subscribe_buttons">
          <a class="btn btn-default" href="{{ .Site.Params.pocketcasts_subscribe }}"><i class="fa fa-podcast"></i>&nbsp;PocketCasts</a>
        </div>
      {{ end }}
      {{ if (isset .Site.Params "rss_subscribe" )}}
        <div class = "col-md-12 subscribe_buttons">
          <a class="btn btn-default" href="{{ .Site.Params.rss_subscribe }}"><i class="fa fa-rss"></i>&nbsp;RSS</a>
        </div>
      {{ else }}
        <div class = "col-md-12 subscribe_buttons">
          <a class="btn btn-default" href="{{"episode/index.xml" | absURL }}"><i class="fa fa-rss"></i>&nbsp;Subscribe via RSS</a>
        </div>
      {{ end }}
    </div>
  </div>
</div><!-- subscribe end -->

  <div class="row">
    <div class="col-md-12 sidebar_general">
      <div class = "row">
        <div class = "col-md-12">
          <h3 class="sidebar_headline text-uppercase">Join Our Newsletter</h3>
        </div>
      </div>
      <div class="row">
	      <div class="col-md-12">
          <div class="sidebar_content">
          Suscribe for timely news and tips to improve your Embedded Linux and IoT projects.
          </div>
        </div>
      </div>
      <div class="row">
	      <div class="col-md-12">
          <script async data-uid="f8b5a034b3" src="https://tmpdir.ck.page/f8b5a034b3/index.js"></script>
        </div>
      </div>
    </div>
  </div>

<!-- links sidebar -->
{{ if isset $.Site.Params "links" }}
  <div class = "row">
    <div class="col-md-12 sidebar_general">
      <div class="row">
        <div class="col-md-12">
          <h3 class="sidebar_headline text-uppercase">
            {{/* {{ $.Site.Params.links.title }} */}}
            Links
          </h3>
        </div>
      </div>
      <div class="row">
        <div class = "col-md-12">
          <div class="sidebar_content">
            <ul>
              {{ range $l:= $.Site.Params.links }}
                <li><a href = "{{ $l.url }}">{{ $l.name}}</a></li>
              {{ end }}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
{{ end }}


{{ if (isset .Site.Params "description") }} <!-- about begin -->
  <div class="row">
    <div class="col-md-12 sidebar_general">
      <div class="row">
        <div class="col-md-12">
          <h3 class="sidebar_headline text-uppercase">About {{ .Site.Params.title }}</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="sidebar_content">
            {{ .Site.Params.description | markdownify }}
          </div>
        </div>
      </div>
    </div>
  </div>
{{ end }} <!-- end about -->
